/* GameWindow component styling */
#gameWindow{
  border: 1px solid black;
  width: 600px;
  height: 400px;
  margin: 0 auto; 

  /* GameWindow background styling */
  /* background-image: url("/images/field.jpeg");
  background-repeat: no-repeat;
  background-size: cover; */
}

#gameWindow p.startMenu{
  text-align: center;
}


/* Game Window start menu buttons */
#gameWindow button.startMenu {
  display: block;
  padding: 6px;
  width: 120px;
  margin: 0 auto;
  margin-bottom: 5px;
}


/* CreatureSelector  Component styling */
div.creatureSelect {
  display: inline-block;
  margin:2px;
  width: 55px;
  height: 55px;
  border: 1px solid black;
}


div.creatureSelect.active {
  border: 2px solid lightblue;
}
